.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu::after {
    content: '';
    position: absolute;
    top: -100vw;
    left: 100%;
    z-index: 1;
    width: 100vw;
    height: 200vw;
    transition: all .6s ease;
    --webkit-transition: all .6s ease;
}

.menu:has(.game__types-item:hover)::after {
    backdrop-filter: brightness(70%);
    -webkit-backdrop-filter: brightness(70%);
    z-index: 6;
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
    flex: 0;
    z-index: 7;
}

.title-page {
    margin: 0 auto;
}

.menu__box {
    display: flex;
    flex-direction: column;
}

.game {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.game__title {
    text-align: center;
    color: var(--color-text);
}

.game__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game__types-item {
    position: relative;
    color: var(--color-text);
    perspective: 1000px;
    transition: all 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.game__types-item:hover {
    background-color: var(--color-block-bg);
}

.game__types-item-front,
.game__types-item-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform .7s ease;
}

.game__types-item-hide {
    opacity: 0;
}

.game__types-item-back {
    transform: rotateY(180deg)
}

.game__types-item:hover .game__types-item-front {
    transform: rotateY(180deg);
}

.game__types-item:hover .game__types-item-back {
    transform: rotateY(0deg);
}

.game__leaders {
    color: var(--color-text);
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    transition: all .5s ease;
}

.game__leaders:hover {
    opacity: 0.5;
    letter-spacing: .1vw;
    transform: scale(0.9);
}

/* 16/9 */
 

     .title-page {
        padding-top: 5vw;
        padding-bottom: 3vw;
    }

     .menu__wrapper {
        max-width: 30vw;
        width: 100%;
    }

     .menu__box {
        width: 100%;
    }

     .game {
        padding: 10% 3%;
        margin-bottom: calc(10%);
        backdrop-filter: blur(.3vw);
        -webkit-backdrop-filter: blur(.3vw);
        border: .1vw solid rgb(255, 255, 255);
        border-bottom: .45vw solid white;
        border-radius: 10vw;
    }

     .game__title {
        margin-bottom: 3%;
        font-size: 2.5vw;
        text-shadow: .1vw .1vw .2vw var(--color-text-shadow);
    }

     .game__types {
        gap: .5vw;
    }

     .game__types-item {
        padding: 1%;
        border: .1vw solid white;
        border-radius: .4vw;
        font-size: 1.5vw;
        color: var(--color-text);
        text-shadow: .1vw .1vw .2vw var(--color-text-shadow);
        box-shadow: .1vw .1vw .2vw var(--color-block-shadow);
        backdrop-filter: blur(.3vw);
        -webkit-backdrop-filter: blur(.3vw);
    }

     .game__leaders {
        font-size: 1vw;
    }
/* /16/9 */