html .logo {
    --cs-color-logo: #ffffff;
    --cs-color-logo-shadow: #000000;
    --cs-color-logo-author: #d81515;
    --cs-color-logo-author-shadow: #000000;
}

html[data-theme="dark"] .logo {
    --cs-color-logo: #000000;
    --cs-color-logo-shadow: #ffffff;
    --cs-color-logo-author: #d81515;
    --cs-color-logo-author-shadow: #000000;
}

.logo__title {
    font-size: 45px;
    white-space: nowrap;
}

.logo__title-txt {
    font-family: 'a_CampusPrspDnSh';
    color: var(--cs-color-logo);
    text-align: center;
    text-shadow: 2px 2px 2px var(--cs-color-logo-shadow);
}

.logo__author {
    width: fit-content;
    font-size: 10px;
    margin-left: auto;
}

.logo__author-txt {
    font-family: 'AlbionicTitulInfl';
    font-weight: 700;
    text-align: center;
    color: var(--cs-color-logo-author);
    text-shadow: 1px 2px 2px var(--cs-color-logo-author-shadow);
    letter-spacing: 4px;
}

.--big {
    font-size: 2em;
}

.--middle {
    font-size: 1em;
}

.--small {
    font-size: .5em;
}