.main {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/image/menu/backgroundOne.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.main__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}

.main__interaction {
    position: absolute;
    top: 20px;
    display: flex;
    max-width: 1200px;
    width: 100vw;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.2em;
    color: var(--color-text);
    text-shadow: 2px 1px 5px var(--color-text-shadow);
}
.main__interaction-left,
.main__interaction-right {
    display: flex;
    gap: 5px;
}

.main__interaction-item {
    cursor: pointer;
}

.game {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.game__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    padding-bottom: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 2px solid black;
    border-bottom: 10px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: calc(15% + 15px);
    left: 50%;
    max-width: 610px;
    width: 100%;
    transform: translate(-50%, -50%);
}

.title-page {
    margin: 0 auto calc(5% + 10px);
}

.game__title {
    margin-bottom: calc(1% + 15px);
    /* padding: 20px 0 10px 0; */
    font-size: 3rem;
    text-align: center;
    color: var(--color-text);
    text-shadow: 2px 1px 5px var(--color-text-shadow);
    /* background-color: black; */
}

.game__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    color: var(--color-text);
    text-shadow: 2px 1px 4px var(--color-text-shadow);
    margin-bottom: calc(9% + 15px);
}

.game__types-item {
    position: relative;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 1px 1px 8px var(--color-block-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    perspective: 1000px;
    transition: all 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.game__types-item:hover {
    background-color: var(--color-block-bg);
}

.game__types-item-front,
.game__types-item-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform .7s ease;
}

.game__types-item-hide {
    opacity: 0;
}

.game__types-item-back {
    transform: rotateY(180deg)
}

.game__types-item:hover .game__types-item-front {
    transform: rotateY(180deg);
}

.game__types-item:hover .game__types-item-back {
    transform: rotateY(0deg);
}

.game__leaders {
    font-size: 1.5rem;
    color: var(--color-text);
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 1px 5px var(--color-text-shadow);
    cursor: pointer;
}

.game__leaders:hover {
    transition: all .5s ease;
    letter-spacing: 1px;
}