.ship img {
    display: block;
    width: 100%;
}

.ship img.--vertical {
    display: none;
}

.ship[data-plane="vertical"] img.--horizontal {
    display: none;
}

.ship[data-plane="vertical"] img.--vertical {
    display: block;
    height: 100%;
    background-color: antiquewhite;
}