.menu {
    position: relative;
    display: flex;
    max-width: 100dvw;
    min-width: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.menu::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .6s ease;
    --webkit-transition: all .6s ease;
}

.menu:has(.game__types-item:hover)::after {
    backdrop-filter: brightness(70%);
    -webkit-backdrop-filter: brightness(70%);
    z-index: 6;
}

.menu__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: 100%;
    z-index: 7;
}

.title-page {
    position: absolute;
    top: calc(10% + 110px);
    left: 50%;
    transform: translateX(-50%);
}

.menu__box {
    position: absolute;
    top: calc(35%);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: calc(9% + 20px) 20px;
    margin-bottom: calc(7% + 10px);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 2px solid rgb(255, 255, 255);
    border-bottom: 10px solid white;
    border-radius: 500px;
    overflow: hidden;
}

.game__title {
    margin-bottom: calc(1% + 15px);
    font-size: 3rem;
    text-align: center;
    color: var(--color-text);
    text-shadow: 2px 1px 5px var(--color-text-shadow);
}

.game__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    color: var(--color-text);
    text-shadow: 2px 1px 4px var(--color-text-shadow);
}

.game__types-item {
    position: relative;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 1px 1px 8px var(--color-block-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    perspective: 1000px;
    transition: all 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.game__types-item:hover {
    background-color: var(--color-block-bg);
}

.game__types-item-front,
.game__types-item-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform .7s ease;
}

.game__types-item-hide {
    opacity: 0;
}

.game__types-item-back {
    transform: rotateY(180deg)
}

.game__types-item:hover .game__types-item-front {
    transform: rotateY(180deg);
}

.game__types-item:hover .game__types-item-back {
    transform: rotateY(0deg);
}

.game__leaders {
    font-size: 1.5rem;
    color: var(--color-text);
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 1px 5px var(--color-text-shadow);
    cursor: pointer;
    transition: all .5s ease;
}

.game__leaders:hover {
    opacity: 0.5;
    letter-spacing: 1px;
    transform: scale(0.9);
}